@page "/invoiceselldetails/{Id}"
@attribute [Authorize]
@using Models
@using Models.Out
@inject HttpClient Http
@inject NavigationManager NavigationManager

@if (Invoice == null)
{
    <h2>Ładowanie...</h2>
}
else
{
    <h1>@Invoice.Name</h1>
    <button type="button" @onclick="PDF">PDF</button>
    <div class="row">
        <div class="col-6">
            <table>
                <tr>
                    <td>Nazwa firmy </td>
                    <td>@Client.Name</td>
                </tr>
                <tr>
                    <td>Ulica </td>
                    <td>@Client.Street</td>
                </tr>
                <tr>
                    <td>Numer </td>
                    <td>@Client.Number</td>
                </tr>
                <tr>
                    <td>Kod pocztowy </td>
                    <td>@Client.PostCode</td>
                </tr>
                <tr>
                    <td>NIP </td>
                    <td>@Client.NIP</td>
                </tr>
            </table>
        </div>
        <div class="col-6">
            <table>
                <tr>
                    <td>Data wystawienia </td>
                    <td>@Invoice.Date</td>
                </tr>
                <tr>
                    <td>Termin płatności </td>
                    <td>@Invoice.PaymentDeadline</td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <table>
        <tr>
            <th>L.p.</th>
            <th>Nazwa towaru</th>
            <th>J.M.</th>
            <th>Ilość</th>
            <th>Cena</th>
            <th>Wartość netto</th>
        </tr>
        @for (int i = 1; i <= Invoice.ProductsSell.Count; i++)
        {
            <tr>
                <td>@i.</td>
                <td>@Invoice.ProductsSell[i - 1].Name</td>
                <td>@GetUnitName(Invoice.ProductsSell[i - 1].UnitID)</td>
                <td>@Invoice.ProductsSell[i - 1].Amount</td>
                <td>@(Invoice.ProductsSell[i - 1].PricePerItemNetto.ToString("N2"))zł</td>
                <td>@((Invoice.ProductsSell[i - 1].PricePerItemNetto * Invoice.ProductsSell[i - 1].Amount).ToString("N2"))zł</td>
            </tr>
        }
    </table>
    <br />
    <button type="button" class="btn btn-primary" @onclick="@( ()=>NavigationManager.NavigateTo("invoicesselllist") )">Wróć do listy</button>
}

@code {
    private InvoiceSell Invoice { get; set; }
    private Client Client { get; set; }
    private List<Unit> Units { get; set; }
    [Parameter]
    public string Id { get; set; }
    const string _URL = "https://localhost:5001/api/";

    protected override async Task OnInitializedAsync()
    {
        Invoice = await Http.GetJsonAsync<InvoiceSell>(_URL + Controller.invoicesells + "/" + Id);
        Client = await Http.GetJsonAsync<Client>(_URL + Controller.clients + "/" + Invoice.ClientID.ToString());
        Units = await Http.GetJsonAsync<List<Unit>>(_URL + Controller.units);
    }

    async Task<string> GetUnit(Guid id)
    {
        Unit temp = await Http.GetJsonAsync<Unit>(_URL + Controller.units + "/byproductid/" + id.ToString());
        return temp.Name;
    }

    string GetUnitName(Guid id)
    {
        foreach (Unit item in Units)
        {
            if (item.ID == id) return item.Name;
        }
        return "BŁĄD";
    }

    void PDF()
    {
        var a = Http.GetJsonAsync<bool>(_URL + Controller.invoicesells + "/pdf/" + Invoice.ID.ToString());
    }
}
